body {
    height: 100vh;
    margin: 0 auto;
}


ul {
    height: 100%;
}

ul.layui-nav.layui-nav-tree {
    float: left;
    height: 100vh;
}

ul.layui-nav.layui-nav-tree {
    float: left;
    height: 100vh;
}

.main-board {
    float: left;
    width: calc(100vw - 203px);
    height: 100vh;
    overflow: auto;
    padding: 10px 10px;
    box-sizing: border-box;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

li {
    list-style: circle;
}

.line-height-40 {
    line-height: 0px;
    height: 15px;
    padding: 0 10px;
}

.margin-auto {
    margin: 0 300px;
}

ul.layui-nav.layui-nav-tree {
    background-color: #185ABD;
}


.layui-nav-tree .layui-nav-item a:hover {
    background-color: #fff!important;
    color: #000!important;
}

.layui-this {
    background-color: white !important;
    color: black !important;
}

::-webkit-scrollbar {
    width: 3px
}

#wait {
    height: 100vh;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    padding: calc(50vh - 80px) calc(50vw - 400px);
    box-sizing: border-box;
    background: url(../img/bg.png) no-repeat 0 150px;
}

#wait-inner {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: #185ABD90 5px 5px 5px 2px;
    font-family: '楷体', 'Ariel';
}